{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'external/leaflet/dist/leaflet.css' %}">

    <style media="screen">
    #mapid { height: 800px; }
    </style>

    <title>Météo</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>{{refresh}}</h2>
            <div id="mapid">


            </div>
        </div>
    </div>
    <script src="{% static 'external/jquery/dist/jquery.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'external/leaflet/dist/leaflet-src.js' %}" charset="utf-8"></script>
    <script src="{% static 'external/leaflet-ajax/dist/leaflet.ajax.min.js' %}" charset="utf-8"></script>
    <script type="text/javascript">

    var mymap = L.map('mapid').setView([47.093, 0.747], 6);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Youpi',
        maxZoom: 18,
    }).addTo(mymap);

    var geojsonLayer = new L.GeoJSON.AJAX("{% static 'departement.geojson' %}");
    geojsonLayer.addTo(mymap);

    var geojsonLayerA = new L.GeoJSON.AJAX("{% static 'code-insee-postaux-geoflar.geojson' %}");
    geojsonLayerA.addTo(mymap);

    var geojsonLayerAA = new L.GeoJSON.AJAX("{% static 'code-insee-postaux-geoflar(1).geojson' %}");
    geojsonLayerAA.addTo(mymap);

    </script>

</body>
</html>
